<div id="doorCode" *ngIf="coderObject">
  <div class="top">
      <div class="screen"
      [ngStyle]="coderObject.isCorrect ? {'outline':'3px solid green'} : {'outline':'3px solid red'}"
      > {{coderObject.isCorrect ? 'A Granted' : 'A denied'}}
        <p *ngFor="let _ of arrSymbols">*</p>
      </div>
   </div>
  <div class="keys">
    <ng-container *ngFor="let num of arrNumbers">
      <span class="the-num-btn calc-btn" (click)="codeInsert(num)">{{num}}</span>
    </ng-container>
    <button class="delLasts" (click)="onRemove()"> < </button>
    <button class="enter" (click)="checkCode()">E</button>
  </div>
</div>

