* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: bold 14px Arial, sans-serif;
}
html {
  height: 100%;
  background: white;
  background: radial-gradient(circle, #fff 20%, #ccc);
  background-size: cover;
}

#doorCode {
  width: 325px;
  height: auto;
  margin: 100px auto;
  padding: 20px 20px 9px;
  background: #141e30;
  background: linear-gradient(#141e30, #243b55);
  border-radius: 3px;
  box-shadow: 0px 4px #009de4, 0px 10px 15px rgba(0, 0, 0, 0.2);
}

.screen{
  display: flex;
  justify-content: center;
  background: silver;
  margin: 0 auto 20px;

}
.screen p {
  font-size: 30px;
  font-weight: bold;
  margin-left: 10px;
  color: black;
  padding: 10px 0;
}

.top .screen {
  height: 40px;
  width: 212px;
  padding: 0 10px;
  border-radius: 3px;
  box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);
  font-size: 17px;
  line-height: 40px;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  text-align: right;
  letter-spacing: 1px;
}
.keys, .top {overflow: hidden;}
.keys span, .top span.clear {
  float: left;
  position: relative;
  top: 0;
  cursor: pointer;
  width: 66px;
  height: 36px;
  background: white;
  border-radius: 3px;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
  margin: 0 7px 11px 0;
  color: #888;
  line-height: 36px;
  text-align: center;
  user-select: none;

  transition: all 0.2s ease;
}

.keys span.operator {
  background: #FFF0F5;
  margin-right: 0;
}
.keys button.delLasts {
  background: #f1ff92;
  box-shadow: 0px 4px #9da853;
  color: #888e5f;
  width: 66px;
  height: 36px;
}
.keys button.enter {
  background: #9c89f6;
  box-shadow: 0px 4px #6b54d3;
  color: white;
  width: 66px;
  height: 36px;
}

.keys span:hover {
  background: #9c89f6;
  box-shadow: 0px 4px #6b54d3;
  color: white;
}
.keys span:active {
  box-shadow: 0px 0px #6b54d3;
  top: 4px;
}
.keys span.eval:active {
  box-shadow: 0px 0px #717a33;
  top: 4px;
}
.top span.clear:active {
  top: 4px;
  box-shadow: 0px 0px #d3545d;
}
